<section id="ngx-datatable-filter">
  <div class="no-print row">
    <div class="col-12">
      <div class="card">
        <div class="card-title p-3">
          <div class="header-row">
            <div class="side-space"></div>
            <h4 class="title">Scatole Completate {{ gruppiScatole.length }}</h4>
          </div>
          <div class="csv-loader" *ngIf="loading">
            <div class="loader-content">
              <ng-container *ngIf="!showMessage">
                <div class="spinner"></div>
                <p class="csv-text">Creazione dei CSV<span class="dots"></span></p>
              </ng-container>
              
              <ng-container *ngIf="showMessage">
                <p class="csv-toast" [ngClass]="isSuccess ? 'toast-success' : 'toast-error'">
                  {{ message }}
                </p>
              </ng-container>
            </div>
          </div>
        </div>

        <div class="lotto-container">
          <div *ngFor="let gruppo of gruppiScatole">
            <div *ngIf="gruppo.stato === 'Scaricato'" class="lotto-item lotto-scaricato">
              <div class="lotto-text">
                Scatola {{gruppo.scatola}} Scaricata.
                <button class="btn-edit" *ngIf="!['viewer','tagger'].includes(currentUser?.user_type ?? '')" (click)="UnDownloaded(gruppo.scatola)" >✏️ </button>
              </div>
            </div>
            <div *ngIf="gruppo.stato === 'Completo'" class="lotto-item lotto-completo">
              <div class="lotto-text">
                Scatola {{gruppo.scatola}} Completa.
              </div>
            </div>
            <div *ngIf="gruppo.stato === 'Scaricabile'" class="lotto-item lotto-scaricabile">
              <div class="lotto-text">
                Scatola {{gruppo.scatola}} Validata.
              </div>
            </div>
            <div *ngIf="gruppo.stato === 'Incompleto'" class="lotto-item lotto-incompleto">
              <div class="lotto-text">
                Scatola {{gruppo.scatola}} Incompleta.
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</section>


<!-- Overlay: aggiungi la classe .is-open per mostrarlo -->
<div id="log-overlay" class="overlay" *ngIf="start" >
  <div class="overlay__panel" role="dialog" aria-modal="true" aria-labelledby="log-title">
    <header class="overlay__header">
      <h2 id="log-title">Elaborazione in corso… ({{ fase }})</h2>
      <button class="btn btn--ghost" id="close-overlay" aria-label="Chiudi" (click)="closeOverlay()">✕</button>
    </header>
    <!-- Area log -->
    <div class="overlay__logs" id="log-stream" aria-live="polite" aria-atomic="false" #logsContainer>
      <div *ngFor="let log of logs" >
        <strong><p>{{ log }}</p></strong>
      </div>
    </div>
    <!-- Stato / percentuale -->
    <div class="overlay__status">
      <div class="progress">
        <div class="progress__bar" [style.width.%]="percent"></div>
      </div>
      <span class="progress__label">{{ percent }}%</span>
    </div>

    

    <footer class="overlay__footer">
      <button class="btn" id="finish-btn" *ngIf="end" (click)="closeOverlay()" >Fine</button>
    </footer>
  </div>
</div>
