/* Contenitore principale datatable */
.datatable-container {
  margin: 1rem 10px;
  border: 2px solid #005eb8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  transition:
    background-color 0.3s ease,
    color 0.3s ease,
    box-shadow 0.3s ease;
}

/* Celle di intestazione e corpo — Allineamento centrale perfetto */
.datatable-container .datatable-body-cell,
.datatable-container .datatable-header-cell {
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 2px;
  height: 100%;
  box-sizing: border-box;
}

/* Colore celle selezionate o attive */
.datatable-container .open {
  color: #005eb8;
}

/* Hover su righe */
.datatable-container .datatable-row-wrapper:hover {
  background-color: rgba(16, 185, 129, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  outline: none;
  color: black;
}

/* Intestazioni con background */
.datatable-container .datatable-header-cell {
  background-color: #ccc;
  border-radius: 4px;
}

/* Riga divisoria */
.datatable-container .datatable-row-wrapper {
  border-bottom: 1px solid black;
}

/* Paginazione */

/* Pulsanti numerici */
.datatable-pager .pager .pages a {
  padding: 6px 12px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  color: #007bff;
  transition: all 0.2s ease-in-out;
}

/* Hover sui pulsanti numerici */
.datatable-pager .pager .pages a:hover {
  background-color: #10b981;
  color: white;
  border-color: #007bff;
}

/* Pulsante attivo */
.datatable-pager .pager .pages a.active {
  background-color: #10b981;
  color: white;
  font-weight: bold;
  border-color: #007bff;
}

/* Frecce avanti/indietro */
.datatable-pager .pager .pager-btn {
  color: #10b981;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.datatable-pager .pager .pager-btn:hover {
  background-color: #e6f0ff;
}

/* Icone di navigazione personalizzate */
.datatable-icon-left::before {
  content: '«';
}

.datatable-icon-prev::before {
  content: '‹';
  padding: 10px;
}

.datatable-icon-next::before {
  content: '›';
  padding: 10px;
}

.datatable-icon-right::before {
  content: '»';
}
